<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
	</startup>
	<appSettings>
		<add key="UICultureInfo" value="en" />
		<add key="SystemStringConnection" value="Server=klamath\klamathpc;user id=sa;password=1234;Database=ObjectWire" />
		<add key="SystemDatabaseServer" value="SqlServer" />
	</appSettings>
</configuration>