<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <requiredRuntime version="v1.1.4322" safemode="false"/>
    </startup>
    <appSettings>
		<add key = "UICultureInfo" value="en-EN" />
		<add key = "SystemStringConnection" value="Server=Marius;user id=sa;password=1234;Database=ObjectWire"/>
		<add key = "SystemDatabaseServer" value="SqlServer"/>
	</appSettings>
</configuration>
